.navbar-wrapper {
  position: relative;
}
.navbar {
  padding-top: 12px;
  padding-bottom: 12px;
  color: rgba(255,255,255,0.75);
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(26,26,26,0.1);
}
.navbar-rss {
  color: #ff9607 !important;
}
.navbar-logo {
  color: #ff9607 !important;
  font-size: 24px;
  float: left;
  margin: -5px 15px -15px -2px;
  white-space: nowrap;
}
@media (max-width: $screen-sm) {
  .navbar-logo {
    margin-left: 10px;
  }
}
.navbar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}
.navbar-nav li {
  float: left;
}
.navbar-nav a {
  display: block;
  padding: 5px 8px;
  font-weight: 600;
  line-height: 20px;
  color: #0084ff;
}
.navbar-nav a:hover {
  color: #0084ff;
  text-decoration: none;
}
.navbar-search {
  width: 300px;
  margin-right: 10px;
  font-size: 13px;
}
.navbar-search-form {
  display: table;
  color: #8590a6;
  background-color: #f6f6f6;
  border-radius: 3px;
}
.navbar-search label {
  display: table-cell;
  width: 1%;
  padding: 0 8px;
  color: #8590a6;
  font-size: inherit;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 28px;
}
.navbar-search label:hover {
  background-color: rgba(255,255,255,0.12);
  color: #fff;
}
.navbar-search input {
  display: table-cell;
  width: 100%;
  border: none;
  min-height: 30px;
  background: none;
  padding: 0 8px;
  vertical-align: middle;
  outline: none;
  color: inherit;
  font-size: inherit;
}
.navbar-search input:focus {
  outline-width: 0;
}
.user-nav a {
  padding: 5px 10px;
  font-size: 16px;
  margin: 0 0 -10px 0;
}
.user-nav a:hover {
  color: #0084ff;
}
.user-nav li:last-child {
  margin-right: -10px;
}
.user-nav-logo a {
  line-height: 20px;
}
.user-nav-logo img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-top: -3px;
}
.user-nav-notification {
  position: relative;
}
.user-nav-unread {
  position: absolute;
  top: 0;
  right: 4px;
  z-index: 2;
  width: 14px;
  height: 14px;
  color: #0084ff;
  text-align: center;
  background-image: linear-gradient(#54a3ff, #006eed);
  background-clip: padding-box;
  border-width: 2px;
  border-style: solid;
  border-color: #24292e;
  border-image: initial;
  border-radius: 50%;
}
